In [1]:
students = [
    ["Ravi", [85, 72, 90]],
    ["Sneha", [95, 88, 92]],
    ["Kabir", [65, 70, 60]],
    ["Anita", [75, 80, 78]]
]
print("Ravi's second mark:", students[0][1][1])

Ravi's second mark: 72

In [2]:
for student in students:
    name = student[0]
    marks = student[1]
    average = sum(marks) / len(marks)
    print(f"{name}'s average: {average:.2f}")

Ravi's average: 82.33
Sneha's average: 91.67
Kabir's average: 65.00
Anita's average: 77.67

In [4]:
for student in students:
    name, marks = student
    if all(mark > 80 for mark in marks):
        print("Students who scored above 80 in all subjects:",name)

Students who scored above 80 in all subjects: Sneha

In [7]:
averages = []
for student in students:
    name, marks = student
    avg = sum(marks) / len(marks)
    averages.append([name, avg])

print( "Average=",averages)

Average= [['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

In [8]:
data = {
    "products": ["Mobile", "Laptop", "Tablet", "Camera"],
    "prices": [12000, 55000, 18000, 25000],
    "ratings": [4.5, 4.7, 4.0, 4.2]
}

In [9]:
product_list = []
for i in range(len(data["products"])):
    product = {
        'name': data["products"][i],
        'price': data["prices"][i],
        'rating': data["ratings"][i]
    }
    product_list.append(product)

print("List of product dictionaries:")
for p in product_list:
    print(p)

List of product dictionaries:
{'name': 'Mobile', 'price': 12000, 'rating': 4.5}
{'name': 'Laptop', 'price': 55000, 'rating': 4.7}
{'name': 'Tablet', 'price': 18000, 'rating': 4.0}
{'name': 'Camera', 'price': 25000, 'rating': 4.2}

In [10]:
for product in product_list:
    if product['price'] > 20000 and product['rating'] >= 4.5:
        print("\nFiltered products",product)

Filtered products {'name': 'Laptop', 'price': 55000, 'rating': 4.7}

In [12]:
def get_rating(product):
    return product['rating']
sorted_products = sorted(product_list, key=get_rating, reverse=True)
print("\nProducts sorted by rating (descending):")
for p in sorted_products:
    print(p)

Products sorted by rating (descending):
{'name': 'Laptop', 'price': 55000, 'rating': 4.7}
{'name': 'Mobile', 'price': 12000, 'rating': 4.5}
{'name': 'Camera', 'price': 25000, 'rating': 4.2}
{'name': 'Tablet', 'price': 18000, 'rating': 4.0}

In [13]:
text = "ai is the future and ai will change everything in the ai world"

In [14]:
words = text.split()
freq = {}

for word in words:
    if word in freq:
        freq[word] += 1
    else:
        freq[word] = 1

print("Word Frequencies:")
print(freq)

Word Frequencies:
{'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1, 'world': 1}

In [15]:
print("\nWords that appear more than once:")
for word, count in freq.items():
    if count > 1:
        print(f"{word}: {count}")

Words that appear more than once:
ai: 3
the: 2

In [16]:
unique_words = sorted(set(words))
print("\nSorted Unique Words:")
print(unique_words)

Sorted Unique Words:
['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']

In [17]:
set1 = set(words)
set2 = {"ai", "ml", "data", "future"}
common = set1.intersection(set2)
print("\nCommon words between set1 and set2:",common)

Common words between set1 and set2: {'ai', 'future'}

In [18]:
sales = {
    'Amit': 70000,
    'Sneha': 45000,
    'Ravi': 30000,
    'Anita': 90000,
    'Kabir': 20000
}

In [19]:
bonus_sales = {name: amount * 1.10 for name, amount in sales.items()}
print("Sales after 10% bonus:")
print(bonus_sales)

Sales after 10% bonus:
{'Amit': 77000.0, 'Sneha': 49500.00000000001, 'Ravi': 33000.0, 'Anita': 99000.00000000001, 'Kabir': 22000.0}

In [20]:
high_sales = {name: amount for name, amount in sales.items() if amount > 50000}
print("\nSales > 50,000:")
print(high_sales)

Sales > 50,000:
{'Amit': 70000, 'Anita': 90000}

In [21]:
labels = {}
for name, amount in sales.items():
    if amount >= 75000:
        labels[name] = 'High'
    elif amount >= 40000:
        labels[name] = 'Medium'
    else:
        labels[name] = 'Low'

print("\nSales Category Labels:")
print(labels)

Sales Category Labels:
{'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

In [22]:
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)

In [23]:
student_marks = dict(zip(names, marks))
print("Dictionary of student marks:")
print(student_marks)

Dictionary of student marks:
{'Ravi': 88, 'Sneha': 92, 'Kabir': 76}

In [24]:
print("\nMinimum mark:", min(marks))
print("Maximum mark:", max(marks))

Minimum mark: 76
Maximum mark: 92

In [25]:
mark_set = set(marks)
mark_set.add(85)
print("\nUpdated Set of Marks:",mark_set)

Updated Set of Marks: {88, 92, 85, 76}

In [26]:
extra_marks = {92, 80, 70, 85}
merged_set = mark_set.union(extra_marks)
print("\nMerged Set with Unique Elements:",merged_set)

Merged Set with Unique Elements: {70, 76, 80, 85, 88, 92}

In [27]:
employees = {
    "E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
    "E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
    "E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}

In [28]:
employees["E104"] = {"name": "Anita", "dept": "Engineering", "salary": 90000}
print("After adding E104:")
for emp_id, info in employees.items():
    print(emp_id, ":", info)

After adding E104:
E101 : {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}
E102 : {'name': 'Sneha', 'dept': 'Engineering', 'salary': 80000}
E103 : {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}
E104 : {'name': 'Anita', 'dept': 'Engineering', 'salary': 90000}

In [29]:
for emp in employees.values():
    if emp["dept"] == "Engineering":
        emp["salary"] *= 1.10

print("\nAfter 10% raise for Engineering:")
for emp_id, info in employees.items():
    print(emp_id, ":", info)

After 10% raise for Engineering:
E101 : {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}
E102 : {'name': 'Sneha', 'dept': 'Engineering', 'salary': 88000.0}
E103 : {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}
E104 : {'name': 'Anita', 'dept': 'Engineering', 'salary': 99000.00000000001}

In [32]:
dept_salaries = {}
for emp in employees.values():
    dept = emp["dept"]
    salary = emp["salary"]
    if dept in dept_salaries:
        dept_salaries[dept].append(salary)
    else:
        dept_salaries[dept] = [salary]
dept_avg = {}
for dept, salaries in dept_salaries.items():
    dept_avg[dept] = sum(salaries) / len(salaries)
max_dept = None
max_avg = 0
for dept, avg in dept_avg.items():
    if avg > max_avg:
        max_avg = avg
        max_dept = dept
print("Department with highest average salary:", max_dept)
print("Average Salary:", max_avg)

Department with highest average salary: Engineering
Average Salary: 93500.0